.contact-info{
	margin: 0 25%;
	text-align: center;
}

.contact-info li {
	list-style-type: none;
	display: inline-block;
	margin: 20px;
}

.contact-info img {
	width: 240px;
}

.contact-info .github {
	width: 300px;
}