
@font-face{
	 font-family: 'notosarif';
    src: url('./fonts/NotoSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.footer-container{
	margin: 0 auto;
	text-align: center;
	font-family: notosarif;
}