
@font-face{
	 font-family: 'notosarif';
    src: url('./fonts/NotoSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@media (min-width:800px){.projects-container{
	margin: 0 20%;
	font-family: notosarif;
}}

@media (max-width:799px){.projects-container{
	margin: 0 0;
	font-family: notosarif;
}}


/*.projects-container{
	margin: 0 20%;
	font-family: notosarif;
}*/

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	display: inline-block;
	margin-bottom: 20px; 
}

.card:hover{

}

@media (min-width:800px){.thumbnail{
	margin: 5px;
	max-width: 100%;
	border-radius: 6px;
	/*padding: 10px;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}}

@media (max-width:799px){.thumbnail{
	display: none;
}}






@media (min-width:800px){.image{
	width: 15%;
	/*border: 1px solid black;*/
	float: left;
	
}}

@media (max-width:799px){.image{
	display: none;
}}







@media (min-width:800px){.info{
	width: 80%;
	float: right;
	padding: 10px;
	display: inline-block;
	/*border: 1px solid black;*/
}}

@media (max-width:799px){.info{
	width: 95%;
	float: left;
	padding: 10px;
	display: inline-block;
	/*border: 1px solid black;*/
}}




.info p {
	text-indent: 25px;
}

.info a{
	text-decoration: none;
	color: #84c1e0;
}

.info a:hover{
	opacity: .8;
}
.info a:active{
	color: #51b5e8;
}